<mat-toolbar class="sticky">
    <mat-toolbar-row fxLayoutAlign="space-between center">
        <div fxLayout="row">
            <button mat-button (click)="returnToHomePage()">
                <mat-icon>home</mat-icon>
                <span class="logo">EGID</span>
            </button>
            <div fxLayout="row">
                <button mat-button [matMenuTriggerFor]="menu" class="nav-texts">
                    Menu
                </button>
                <button mat-button class="nav-texts">About</button>
                <button mat-button class="nav-texts" (click)="logout()">Logout</button>
            </div>
        </div>
        <div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-menu #menu="matMenu" fxLayoutAlign="end">
    <button mat-menu-item [routerLink]="'viewAllOrders'">View All Orders</button>
    <button mat-menu-item [routerLink]="'viewAllStocks'">View All Stocks</button>
</mat-menu>

<router-outlet></router-outlet>